
.body{
   background-color: #000000;
}

.grid{
font-style: italic;
color: #fff;
}

.p{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

h2{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}